openapi: 3.2.0
info:
  title: ContainerRegistryManagementClient Operation Webhooks API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerregistry
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Webhooks
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks
  : get:
      description: Lists all the webhooks for the specified container registry.
      operationId: Webhooks_List
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/RegistryNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResult'
      tags:
      - Webhooks
      x-ms-examples:
        WebhookList:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/webhooks/myWebhook
                  location: westus
                  name: myWebhook
                  properties:
                    actions:
                    - push
                    provisioningState: Succeeded
                    scope: myRepository
                    status: enabled
                  tags:
                    key: value
                  type: Microsoft.ContainerRegistry/registries/webhooks
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Container Registry Webhooks_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}
  : delete:
      description: Deletes a webhook from a container registry.
      operationId: Webhooks_Delete
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/RegistryNameParameter'
      - $ref: '#/components/parameters/WebhookNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
        '202':
          description: The request was successful; the operation will complete asynchronously.
        '204':
          description: The webhook does not exist in the subscription.
      tags:
      - Webhooks
      x-ms-examples:
        WebhookDelete:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            webhookName: myWebhook
          responses:
            '200': {}
            '202': {}
            '204': {}
      x-ms-long-running-operation: true
      summary: Azure Container Registry Webhooks_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Gets the properties of the specified webhook.
      operationId: Webhooks_Get
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/RegistryNameParameter'
      - $ref: '#/components/parameters/WebhookNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      tags:
      - Webhooks
      x-ms-examples:
        WebhookGet:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            webhookName: myWebhook
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/webhooks/myWebhook
                location: westus
                name: myWebhook
                properties:
                  actions:
                  - push
                  provisioningState: Succeeded
                  scope: myRepository
                  status: enabled
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/webhooks
      summary: Azure Container Registry Webhooks_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Updates a webhook with the specified parameters.
      operationId: Webhooks_Update
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/RegistryNameParameter'
      - $ref: '#/components/parameters/WebhookNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '201':
          description: The request was successful; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      tags:
      - Webhooks
      x-ms-examples:
        WebhookUpdate:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            webhookName: myWebhook
            webhookUpdateParameters:
              properties:
                actions:
                - push
                customHeaders:
                  Authorization: Basic 000000000000000000000000000000000000000000000000000
                scope: myRepository
                serviceUri: http://myservice.com
                status: enabled
              tags:
                key: value
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/webhooks/myWebhook
                location: westus
                name: myWebhook
                properties:
                  actions:
                  - push
                  provisioningState: Succeeded
                  scope: myRepository
                  status: enabled
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/webhooks
            '201':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/webhooks/myWebhook
                location: westus
                name: myWebhook
                properties:
                  actions:
                  - push
                  provisioningState: Updating
                  scope: myRepository
                  status: enabled
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/webhooks
      x-ms-long-running-operation: true
      summary: Azure Container Registry Webhooks_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateParameters'
        description: The parameters for updating a webhook.
        required: true
    put:
      description: Creates a webhook for a container registry with the specified parameters.
      operationId: Webhooks_Create
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/RegistryNameParameter'
      - $ref: '#/components/parameters/WebhookNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '201':
          description: The request was successful; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      tags:
      - Webhooks
      x-ms-examples:
        WebhookCreate:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            webhookCreateParameters:
              location: westus
              properties:
                actions:
                - push
                customHeaders:
                  Authorization: Basic 000000000000000000000000000000000000000000000000000
                scope: myRepository
                serviceUri: http://myservice.com
                status: enabled
              tags:
                key: value
            webhookName: myWebhook
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/webhooks/myWebhook
                location: westus
                name: myWebhook
                properties:
                  actions:
                  - push
                  provisioningState: Succeeded
                  scope: myRepository
                  status: enabled
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/webhooks
            '201':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/webhooks/myWebhook
                location: westus
                name: myWebhook
                properties:
                  actions:
                  - push
                  provisioningState: Creating
                  scope: myRepository
                  status: enabled
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/webhooks
      x-ms-long-running-operation: true
      summary: Azure Container Registry Webhooks_ Create
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateParameters'
        description: The parameters for creating a webhook.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}/getCallbackConfig
  : post:
      description: Gets the configuration of service URI and custom headers for the webhook.
      operationId: Webhooks_GetCallbackConfig
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/RegistryNameParameter'
      - $ref: '#/components/parameters/WebhookNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackConfig'
      tags:
      - Webhooks
      x-ms-examples:
        WebhookGetCallbackConfig:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            webhookName: myWebhook
          responses:
            '200':
              body:
                customHeaders:
                  Authorization: Basic 000000000000000000000000000000000000000000000000000
                serviceUri: http://myservice.com
      summary: Azure Container Registry Webhooks_ Get Callback Config
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}/listEvents
  : post:
      description: Lists recent events for the specified webhook.
      operationId: Webhooks_ListEvents
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/RegistryNameParameter'
      - $ref: '#/components/parameters/WebhookNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResult'
      tags:
      - Webhooks
      x-ms-examples:
        WebhookListEvents:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            webhookName: myWebhook
          responses:
            '200':
              body:
                value:
                - eventRequestMessage:
                    content:
                      action: push
                      actor: {}
                      id: 00000000-0000-0000-0000-000000000000
                      request:
                        addr: 192.168.64.11:42961
                        host: 192.168.100.227:5000
                        id: 00000000-0000-0000-0000-000000000000
                        method: GET
                        useragent: curl/7.38.0
                      source:
                        addr: xtal.local:5000
                        instanceID: 00000000-0000-0000-0000-000000000000
                      target:
                        digest: sha256:fea8895f450959fa676bcc1df0611ea93823a735a01205fd8622846041d0c7cf
                        length: 708
                        mediaType: application/vnd.docker.distribution.manifest.v2+json
                        repository: hello-world
                        size: 708
                        tag: latest
                        url: http://192.168.100.227:5000/v2/hello-world/manifests/sha256:fea8895f450959fa676bcc1df0611ea93823a735a01205fd8622846041d0c7cf
                      timestamp: '2017-03-01T23:14:37.0707808Z'
                    headers:
                      Authorization: '******'
                      Content-Length: '719'
                      Content-Type: application/json
                    method: POST
                    requestUri: http://myservice.com
                    version: '1.1'
                  eventResponseMessage:
                    headers:
                      Content-Length: '0'
                    statusCode: '200'
                    version: '1.1'
                  id: 00000000-0000-0000-0000-000000000000
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Container Registry Webhooks_ List Events
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}/ping
  : post:
      description: Triggers a ping event to be sent to the webhook.
      operationId: Webhooks_Ping
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/RegistryNameParameter'
      - $ref: '#/components/parameters/WebhookNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventInfo'
      tags:
      - Webhooks
      x-ms-examples:
        WebhookPing:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            webhookName: myWebhook
          responses:
            '200':
              body:
                id: 00000000-0000-0000-0000-000000000000
      summary: Azure Container Registry Webhooks_ Ping
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ResourceGroupParameter:
      description: The name of the resource group to which the container registry belongs.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The Microsoft Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    WebhookNameParameter:
      description: The name of the webhook.
      in: path
      name: webhookName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 5
        pattern: ^[a-zA-Z0-9]*$
    RegistryNameParameter:
      description: The name of the container registry.
      in: path
      name: registryName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 5
        pattern: ^[a-zA-Z0-9]*$
  schemas:
    WebhookUpdateParameters:
      description: The parameters for updating a webhook.
      properties:
        properties:
          $ref: '#/components/schemas/WebhookPropertiesUpdateParameters'
          description: The properties that the webhook will be updated with.
          x-ms-client-flatten: true
        tags:
          additionalProperties:
            type: string
          description: The tags for the webhook.
          type: object
      type: object
    WebhookCreateParameters:
      description: The parameters for creating a webhook.
      properties:
        location:
          description: The location of the webhook. This cannot be changed after the resource is created.
          type: string
        properties:
          $ref: '#/components/schemas/WebhookPropertiesCreateParameters'
          description: The properties that the webhook will be created with.
          x-ms-client-flatten: true
        tags:
          additionalProperties:
            type: string
          description: The tags for the webhook.
          type: object
      required:
      - location
      type: object
    Source:
      description: The registry node that generated the event. Put differently, while the actor initiates the event, the source generates it.
      properties:
        addr:
          description: The IP or hostname and the port of the registry node that generated the event. Generally, this will be resolved by os.Hostname() along with the running port.
          type: string
        instanceID:
          description: The running instance of an application. Changes after each restart.
          type: string
      type: object
    WebhookPropertiesCreateParameters:
      description: The parameters for creating the properties of a webhook.
      properties:
        actions:
          description: The list of actions that trigger the webhook to post notifications.
          items:
            enum:
            - push
            - delete
            - quarantine
            - chart_push
            - chart_delete
            type: string
            x-ms-enum:
              modelAsString: true
              name: WebhookAction
          type: array
        customHeaders:
          additionalProperties:
            type: string
          description: Custom headers that will be added to the webhook notifications.
          type: object
        scope:
          description: The scope of repositories where the event can be triggered. For example, 'foo:*' means events for all tags under repository 'foo'. 'foo:bar' means events for 'foo:bar' only. 'foo' is equivalent to 'foo:latest'. Empty means all events.
          type: string
        serviceUri:
          description: The service URI for the webhook to post notifications.
          type: string
        status:
          description: The status of the webhook at the time the operation was called.
          enum:
          - enabled
          - disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: WebhookStatus
      required:
      - serviceUri
      - actions
      type: object
    EventInfo:
      description: The basic information of an event.
      properties:
        id:
          description: The event ID.
          type: string
      type: object
    EventResponseMessage:
      description: The event response message received from the service URI.
      properties:
        content:
          description: The content of the event response message.
          type: string
        headers:
          additionalProperties:
            type: string
          description: The headers of the event response message.
          type: object
        reasonPhrase:
          description: The reason phrase of the event response message.
          type: string
        statusCode:
          description: The status code of the event response message.
          type: string
        version:
          description: The HTTP message version.
          type: string
      type: object
    Event:
      allOf:
      - $ref: '#/components/schemas/EventInfo'
      description: The event for a webhook.
      properties:
        eventRequestMessage:
          $ref: '#/components/schemas/EventRequestMessage'
          description: The event request message sent to the service URI.
        eventResponseMessage:
          $ref: '#/components/schemas/EventResponseMessage'
          description: The event response message received from the service URI.
      type: object
    Actor:
      description: The agent that initiated the event. For most situations, this could be from the authorization context of the request.
      properties:
        name:
          description: The subject or username associated with the request context that generated the event.
          type: string
      type: object
    Target:
      description: The target of the event.
      properties:
        digest:
          description: The digest of the content, as defined by the Registry V2 HTTP API Specification.
          type: string
        length:
          description: The number of bytes of the content. Same as Size field.
          format: int64
          type: integer
        mediaType:
          description: The MIME type of the referenced object.
          type: string
        name:
          description: The name of the artifact.
          type: string
        repository:
          description: The repository name.
          type: string
        size:
          description: The number of bytes of the content. Same as Length field.
          format: int64
          type: integer
        tag:
          description: The tag name.
          type: string
        url:
          description: The direct URL to the content.
          type: string
        version:
          description: The version of the artifact.
          type: string
      type: object
    Request:
      description: The request that generated the event.
      properties:
        addr:
          description: The IP or hostname and possibly port of the client connection that initiated the event. This is the RemoteAddr from the standard http request.
          type: string
        host:
          description: The externally accessible hostname of the registry instance, as specified by the http host header on incoming requests.
          type: string
        id:
          description: The ID of the request that initiated the event.
          type: string
        method:
          description: The request method that generated the event.
          type: string
        useragent:
          description: The user agent header of the request.
          type: string
      type: object
    WebhookListResult:
      description: The result of a request to list webhooks for a container registry.
      properties:
        nextLink:
          description: The URI that can be used to request the next list of webhooks.
          type: string
        value:
          description: The list of webhooks. Since this list may be incomplete, the nextLink field should be used to request the next list of webhooks.
          items:
            $ref: '#/components/schemas/Webhook'
          type: array
      type: object
    EventListResult:
      description: The result of a request to list events for a webhook.
      properties:
        nextLink:
          description: The URI that can be used to request the next list of events.
          type: string
        value:
          description: The list of events. Since this list may be incomplete, the nextLink field should be used to request the next list of events.
          items:
            $ref: '#/components/schemas/Event'
          type: array
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The resource ID.
          readOnly: true
          type: string
        location:
          description: The location of the resource. This cannot be changed after the resource is created.
          type: string
          x-ms-mutability:
          - read
          - create
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      required:
      - location
      x-ms-azure-resource: true
    Webhook:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An object that represents a webhook for a container registry.
      properties:
        properties:
          $ref: '#/components/schemas/WebhookProperties'
          description: The properties of the webhook.
          x-ms-client-flatten: true
      type: object
    EventContent:
      description: The content of the event request message.
      properties:
        action:
          description: The action that encompasses the provided event.
          type: string
        actor:
          $ref: '#/components/schemas/Actor'
          description: The agent that initiated the event. For most situations, this could be from the authorization context of the request.
        id:
          description: The event ID.
          type: string
        request:
          $ref: '#/components/schemas/Request'
          description: The request that generated the event.
        source:
          $ref: '#/components/schemas/Source'
          description: The registry node that generated the event. Put differently, while the actor initiates the event, the source generates it.
        target:
          $ref: '#/components/schemas/Target'
          description: The target of the event.
        timestamp:
          description: The time at which the event occurred.
          format: date-time
          type: string
      type: object
    CallbackConfig:
      description: The configuration of service URI and custom headers for the webhook.
      properties:
        customHeaders:
          additionalProperties:
            type: string
          description: Custom headers that will be added to the webhook notifications.
          type: object
        serviceUri:
          description: The service URI for the webhook to post notifications.
          type: string
      required:
      - serviceUri
      type: object
    EventRequestMessage:
      description: The event request message sent to the service URI.
      properties:
        content:
          $ref: '#/components/schemas/EventContent'
          description: The content of the event request message.
        headers:
          additionalProperties:
            type: string
          description: The headers of the event request message.
          type: object
        method:
          description: The HTTP method used to send the event request message.
          type: string
        requestUri:
          description: The URI used to send the event request message.
          type: string
        version:
          description: The HTTP message version.
          type: string
      type: object
    WebhookProperties:
      description: The properties of a webhook.
      properties:
        actions:
          description: The list of actions that trigger the webhook to post notifications.
          items:
            enum:
            - push
            - delete
            - quarantine
            - chart_push
            - chart_delete
            type: string
            x-ms-enum:
              modelAsString: true
              name: WebhookAction
          type: array
        provisioningState:
          description: The provisioning state of the webhook at the time the operation was called.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        scope:
          description: The scope of repositories where the event can be triggered. For example, 'foo:*' means events for all tags under repository 'foo'. 'foo:bar' means events for 'foo:bar' only. 'foo' is equivalent to 'foo:latest'. Empty means all events.
          type: string
        status:
          description: The status of the webhook at the time the operation was called.
          enum:
          - enabled
          - disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: WebhookStatus
      required:
      - actions
      type: object
    WebhookPropertiesUpdateParameters:
      description: The parameters for updating the properties of a webhook.
      properties:
        actions:
          description: The list of actions that trigger the webhook to post notifications.
          items:
            enum:
            - push
            - delete
            - quarantine
            - chart_push
            - chart_delete
            type: string
            x-ms-enum:
              modelAsString: true
              name: WebhookAction
          type: array
        customHeaders:
          additionalProperties:
            type: string
          description: Custom headers that will be added to the webhook notifications.
          type: object
        scope:
          description: The scope of repositories where the event can be triggered. For example, 'foo:*' means events for all tags under repository 'foo'. 'foo:bar' means events for 'foo:bar' only. 'foo' is equivalent to 'foo:latest'. Empty means all events.
          type: string
        serviceUri:
          description: The service URI for the webhook to post notifications.
          type: string
        status:
          description: The status of the webhook at the time the operation was called.
          enum:
          - enabled
          - disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: WebhookStatus
      type: object
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
