swagger: '2.0'
info:
  title: ContainerRegistryManagementClient Operation Replications API
  version: 2019-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json
    version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerregistry
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: Replications
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/replications
  : get:
      description: Lists all the replications for the specified container registry.
      operationId: Replications_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: '#/definitions/ReplicationListResult'
      tags:
      - Replications
      x-ms-examples:
        ReplicationList:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication
                  location: eastus
                  name: myReplication
                  properties:
                    provisioningState: Succeeded
                    status:
                      displayStatus: Ready
                      message: The replication is ready.
                      timestamp: '2017-03-01T23:15:37.0707808Z'
                  tags:
                    key: value
                  type: Microsoft.ContainerRegistry/registries/replications
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Container Registry Replications_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/replications/{replicationName}
  : delete:
      description: Deletes a replication from a container registry.
      operationId: Replications_Delete
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      - $ref: '#/parameters/ReplicationNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
        '202':
          description: The request was successful; the operation will complete asynchronously.
        '204':
          description: The replication does not exist in the subscription.
      tags:
      - Replications
      x-ms-examples:
        ReplicationDelete:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            replicationName: myReplication
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            '200': {}
            '202': {}
            '204': {}
      x-ms-long-running-operation: true
      summary: Azure Container Registry Replications_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Gets the properties of the specified replication.
      operationId: Replications_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      - $ref: '#/parameters/ReplicationNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: '#/definitions/Replication'
      tags:
      - Replications
      x-ms-examples:
        ReplicationGet:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            replicationName: myReplication
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication
                location: eastus
                name: myReplication
                properties:
                  provisioningState: Succeeded
                  status:
                    displayStatus: Ready
                    message: The replication is ready.
                    timestamp: '2017-03-01T23:15:37.0707808Z'
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/replications
      summary: Azure Container Registry Replications_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Updates a replication for a container registry with the specified parameters.
      operationId: Replications_Update
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      - $ref: '#/parameters/ReplicationNameParameter'
      - description: The parameters for updating a replication.
        in: body
        name: replicationUpdateParameters
        required: true
        schema:
          $ref: '#/definitions/ReplicationUpdateParameters'
        example: example-value
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: '#/definitions/Replication'
        '201':
          description: The request was successful; the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Replication'
      tags:
      - Replications
      x-ms-examples:
        ReplicationUpdate:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            replicationName: myReplication
            replicationUpdateParameters:
              tags:
                key: value
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication
                location: eastus
                name: myReplication
                properties:
                  provisioningState: Succeeded
                  status:
                    displayStatus: Ready
                    message: The replication is ready.
                    timestamp: '2017-03-01T23:15:37.0707808Z'
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/replications
            '201':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication
                location: eastus
                name: myReplication
                properties:
                  provisioningState: Updating
                  status:
                    displayStatus: Provisioning
                    message: The replication is provisioning.
                    timestamp: '2017-03-01T23:15:37.0707808Z'
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/replications
      x-ms-long-running-operation: true
      summary: Azure Container Registry Replications_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Creates a replication for a container registry with the specified parameters.
      operationId: Replications_Create
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      - $ref: '#/parameters/ReplicationNameParameter'
      - description: The parameters for creating a replication.
        in: body
        name: replication
        required: true
        schema:
          $ref: '#/definitions/Replication'
        example: example-value
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: '#/definitions/Replication'
        '201':
          description: The request was successful; the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Replication'
      tags:
      - Replications
      x-ms-examples:
        ReplicationCreate:
          parameters:
            api-version: 2019-12-01-preview
            registryName: myRegistry
            replication:
              location: eastus
              tags:
                key: value
            replicationName: myReplication
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication
                location: eastus
                name: myReplication
                properties:
                  provisioningState: Succeeded
                  status:
                    displayStatus: Ready
                    message: The replication is ready.
                    timestamp: '2017-03-01T23:15:37.0707808Z'
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/replications
            '201':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication
                location: eastus
                name: myReplication
                properties:
                  provisioningState: Creating
                  status:
                    displayStatus: Provisioning
                    message: The replication is provisioning.
                    timestamp: '2017-03-01T23:15:37.0707808Z'
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/replications
      x-ms-long-running-operation: true
      summary: Azure Container Registry Replications_ Create
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  ReplicationProperties:
    description: The properties of a replication.
    properties:
      provisioningState:
        description: The provisioning state of the replication at the time the operation was called.
        enum:
        - Creating
        - Updating
        - Deleting
        - Succeeded
        - Failed
        - Canceled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      status:
        $ref: '#/definitions/Status'
        description: The status of the replication at the time the operation was called.
        readOnly: true
    type: object
  ReplicationUpdateParameters:
    description: The parameters for updating a replication.
    properties:
      tags:
        additionalProperties:
          type: string
        description: The tags for the replication.
        type: object
    type: object
  Replication:
    allOf:
    - $ref: '#/definitions/Resource'
    description: An object that represents a replication for a container registry.
    properties:
      properties:
        $ref: '#/definitions/ReplicationProperties'
        description: The properties of the replication.
        x-ms-client-flatten: true
    type: object
  Status:
    description: The status of an Azure resource at the time the operation was called.
    properties:
      displayStatus:
        description: The short label for the status.
        readOnly: true
        type: string
      message:
        description: The detailed message for the status, including alerts and error messages.
        readOnly: true
        type: string
      timestamp:
        description: The timestamp when the status was changed to the current value.
        format: date-time
        readOnly: true
        type: string
    type: object
  ReplicationListResult:
    description: The result of a request to list replications for a container registry.
    properties:
      nextLink:
        description: The URI that can be used to request the next list of replications.
        type: string
      value:
        description: The list of replications. Since this list may be incomplete, the nextLink field should be used to request the next list of replications.
        items:
          $ref: '#/definitions/Replication'
        type: array
    type: object
  Resource:
    description: An Azure resource.
    properties:
      id:
        description: The resource ID.
        readOnly: true
        type: string
      location:
        description: The location of the resource. This cannot be changed after the resource is created.
        type: string
        x-ms-mutability:
        - read
        - create
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    required:
    - location
    x-ms-azure-resource: true
parameters:
  ResourceGroupParameter:
    description: The name of the resource group to which the container registry belongs.
    in: path
    minLength: 1
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The Microsoft Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  ApiVersionParameter:
    description: The client API version.
    in: query
    name: api-version
    required: true
    type: string
  ReplicationNameParameter:
    description: The name of the replication.
    in: path
    maxLength: 50
    minLength: 5
    name: replicationName
    pattern: ^[a-zA-Z0-9]*$
    required: true
    type: string
    x-ms-parameter-location: method
  RegistryNameParameter:
    description: The name of the container registry.
    in: path
    maxLength: 50
    minLength: 5
    name: registryName
    pattern: ^[a-zA-Z0-9]*$
    required: true
    type: string
    x-ms-parameter-location: method
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
